In [9]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import requests
from bs4 import BeautifulSoup
#import geopandas as gpd
#from prettytable import PrettyTable


url = 'https://www.mohfw.gov.in/'# make a GET request to fetch the raw HTML content
web_content = requests.get(url).content# parse the html content
soup = BeautifulSoup(web_content, "html.parser")# remove any newlines and extra spaces from left and right
extract_contents = lambda row: [x.text.replace('\n', '') for x in row]# find all table rows and data cells within
stats = [] 
all_rows = soup.find_all('tr')
for row in all_rows:
    stat = extract_contents(row.find_all('td')) # notice that the data that we require is now a list of length 5
    if len(stat) == 5:
        stats.append(stat)#now convert the data into a pandas dataframe for further processing

new_cols = ["Sr.No", "States/UT","Confirmed","Recovered","Deceased"]
state_data = pd.DataFrame(data = stats, columns = new_cols)

   Sr.No                    States/UT Confirmed Recovered Deceased
0      1  Andaman and Nicobar Islands        33        33        0
1      2               Andhra Pradesh      1930       887       44
2      3            Arunachal Pradesh         1         1        0
3      4                        Assam        63        34        2
4      5                        Bihar       591       322        5
5      6                   Chandigarh       169        24        2
6      7                 Chhattisgarh        59        43        0
7      8           Dadar Nagar Haveli         1         0        0
8      9                        Delhi      6542      2020       73
9     10                          Goa         7         7        0
10    11                      Gujarat      7796      2091      472
11    12                      Haryana       675       290        9
12    13             Himachal Pradesh        50        38        2
13    14            Jammu and Kashmir       836       368        9
14    15                    Jharkhand       156        78        3
15    16                    Karnataka       794       386       30
16    17                       Kerala       505       485        4
17    18                       Ladakh        42        17        0
18    19               Madhya Pradesh      3614      1676      215
19    20                  Maharashtra     20228      3800      779
20    21                      Manipur         2         2        0
21    22                    Meghalaya        13        10        1
22    23                      Mizoram         1         1        0
23    24                       Odisha       294        63        2
24    25                   Puducherry         9         6        0
25    26                       Punjab      1762       157       31
26    27                    Rajasthan      3708      2026      106
27    28                   Tamil Nadu      6535      1824       44
28    29                    Telengana      1163       750       30
29    30                      Tripura       134         2        0
30    31                  Uttarakhand        67        46        1
31    32                Uttar Pradesh      3373      1499       74
32    33                  West Bengal      1786       372      171

In [14]:
state_data.to_csv(r'C:\Users\lenovo\Desktop\state_data.csv')

References:
  1)  https://towardsdatascience.com/tracking-corona-covid-19-spread-in-india-using-python-40ef8ffa7e31
  2) https://www.distancelatlong.com/country/india